In [1]:
import pandas as pd

In [39]:
# xlsx to csv

# xlsx = pd.read_excel("./sw_lec_review.xlsx")
# xlsx = xlsx.iloc[:, :3]
# xlsx.to_csv('sw_lec_review.csv', index=False)

In [41]:
train = pd.read_csv('./processed_lec_review.csv')
test = pd.read_csv('./test_lec_review.csv')

In [49]:
display(train.head())
display(test.head())

,review,star,pos_neg,clean_review
0,전공 두개 합친만큼 신경써야 점수가 나오는 신기한 강의,2,neg,전공 두 개 합치다 신경 써다 점수 나오다 신기하다 강의
1,재수강하러갑니다.시험 대부분 문제가 주관식으로 나오는데 구절 빈칸넣기라던가 스토리보...,1,neg,재수강 하다 가다 시험 대부분 문제 주관 식 으로 나오다 구절 빈칸 넣기 라던가 스...
2,성적 너그러이주심. 강의력은 조금부족하긴한데 설명잘해주심,3,mid,성적 너그럽다 주심 강의 력 조금 부족하다 설명 잘해주다 심
3,1. 수강 자체는 굉장히 편함2. 기말고사는 어려운데 패스 자체에 영향을 미치진 않는듯,4,pos,수강 자체 굉장하다 편하다 기말고사 어렵다 패스 자체 에 영향 을 미치다 않다
4,1. 교수님이 인도사 전공으로 사실상 쟁점인도사2. 과제가 소소하게 많지만 어렵거나...,5,pos,교수 인도 사 전공 으로 사실 상 쟁점 인 도사 과제 소소하다 많다 어렵다 시간 많...

,lecture,professor,review,clean_review
0,Capstone디자인(산학협력프로젝트),"권기학, 문현준",보고서가 많은편이긴한데학점은퍼주네요 굳,보고서 많다 편이 기다 학점 퍼 주네 요 굳다
1,C프로그래밍및실습,김도년,수업끝나고 수업시간에 진행한 코드작성 못하면 남아서 될냐까지 해야함 그런거 빼고 낫...,수업 끝나다 수업 시간 에 진행 코드 작성 못 하다 남아 서 되다 까지 하다 함 그...
2,C프로그래밍및실습,김도년,실습끝까지 남기시는 거 뺴곤 아주좋으심 너그러우신편,실습 끝 까지 남다 거 뺴곤 아주 좋다 심 너그럽다 편
3,C프로그래밍및실습,김도년,교수님 엄청 친절하시고 귀여우셔요..과제만열심히 제때제때하면 되니까 그거만으로도 충...,교수 엄청 친절하다 귀엽다 과제 만 열심히 제때 제때 면 되다 그거 만으로도 충분하...
4,C프로그래밍및실습,김도년,교수님 과제많아서 시험준비는 과제한거 복습하면됨. 귀여우심,교수 과제 많다 시험 준비 과제 거 복습 하다 되다 귀 여우 심

In [85]:
X_train = train[['clean_review', 'pos_neg']]
X_train.head()

                                        clean_review pos_neg
0                    전공 두 개 합치다 신경 써다 점수 나오다 신기하다 강의     neg
1  재수강 하다 가다 시험 대부분 문제 주관 식 으로 나오다 구절 빈칸 넣기 라던가 스...     neg
2                  성적 너그럽다 주심 강의 력 조금 부족하다 설명 잘해주다 심     mid
3        수강 자체 굉장하다 편하다 기말고사 어렵다 패스 자체 에 영향 을 미치다 않다     pos
4  교수 인도 사 전공 으로 사실 상 쟁점 인 도사 과제 소소하다 많다 어렵다 시간 많...     pos

In [63]:
y_train = train[['pos_neg']]
y_train

    pos_neg
0       neg
1       neg
2       mid
3       pos
4       pos
..      ...
795     pos
796     neg
797     pos
798     pos
799     pos

[800 rows x 1 columns]

In [60]:
X_test = test[['clean_review']]
X_test.head()

                                        clean_review
0                          보고서 많다 편이 기다 학점 퍼 주네 요 굳다
1  수업 끝나다 수업 시간 에 진행 코드 작성 못 하다 남아 서 되다 까지 하다 함 그...
2                     실습 끝 까지 남다 거 뺴곤 아주 좋다 심 너그럽다 편
3  교수 엄청 친절하다 귀엽다 과제 만 열심히 제때 제때 면 되다 그거 만으로도 충분하...
4                교수 과제 많다 시험 준비 과제 거 복습 하다 되다 귀 여우 심

In [68]:
X_train_text = list(X_train['clean_review'])
X_test_text  = list(X_test['clean_review'])

In [69]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(max_features=10000)
train_term = tfidf.fit_transform(X_train_text)
test_term = tfidf.transform(X_test_text)

In [75]:
from sklearn.svm import LinearSVC

svm = LinearSVC(C= 1.0, penalty = "l2", random_state= 42)
svm.fit(train_term, y_train.values.ravel())

pred = svm.predict(test_term)

In [81]:
df = pd.DataFrame({'review': X_test_text, 'pos_neg': pred})
df.head()

                                              review pos_neg
0                          보고서 많다 편이 기다 학점 퍼 주네 요 굳다     pos
1  수업 끝나다 수업 시간 에 진행 코드 작성 못 하다 남아 서 되다 까지 하다 함 그...     neg
2                     실습 끝 까지 남다 거 뺴곤 아주 좋다 심 너그럽다 편     pos
3  교수 엄청 친절하다 귀엽다 과제 만 열심히 제때 제때 면 되다 그거 만으로도 충분하...     pos
4                교수 과제 많다 시험 준비 과제 거 복습 하다 되다 귀 여우 심     pos

In [83]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

cv = CountVectorizer(lowercase=True, max_df=1.0)
train_term = cv.fit_transform(X_train_text)
test_term = cv.transform(X_test_text)

nb = MultinomialNB(alpha = 0.25, fit_prior=False)
nb.fit(train_term, y_train.values.ravel())

pred = nb.predict(test_term)

In [84]:
df = pd.DataFrame({'review': X_test_text, 'pos_neg': pred})
df.head()

                                              review pos_neg
0                          보고서 많다 편이 기다 학점 퍼 주네 요 굳다     pos
1  수업 끝나다 수업 시간 에 진행 코드 작성 못 하다 남아 서 되다 까지 하다 함 그...     neg
2                     실습 끝 까지 남다 거 뺴곤 아주 좋다 심 너그럽다 편     pos
3  교수 엄청 친절하다 귀엽다 과제 만 열심히 제때 제때 면 되다 그거 만으로도 충분하...     pos
4                교수 과제 많다 시험 준비 과제 거 복습 하다 되다 귀 여우 심     pos